@import url("whitespace-reset.css");

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  font: normal 18px 'Open Sans', sans-serif;
  color: #152A40;
  background: radial-gradient(circle, #fff 33%, #336699);
}

main {
  max-width: 400px;
  padding-top: 32vh;
  margin: 0 auto;
}

img {
  width: 120px;
  border-radius: 100%;
}

h1 {
  padding-bottom: 6px;
  font-weight: normal;
  font-size: 28px;
  letter-spacing: -1px;
}

a {
  text-decoration: none;
  color: #407FBF;
}

@media (max-width: 1000px) {
  body {
    background: radial-gradient(circle, #fff 44%, #336699);
  }
}

@media (max-device-width: 780px) and (orientation: landscape) {
  body {
    background: linear-gradient(to right, #336699, #fff 15%, #fff 85%, #336699);
  }
  main {
    padding-top: 16vh;
  }
}

@media (max-width: 500px) and (orientation: portrait) {
  body {
    background: linear-gradient(to bottom, #336699, #fff 20%, #fff 80%, #336699);
  }
  main {
    padding-top: 28vh;
  }
}
